<header class="page-header">
  <h1><%= @group.name %></h1>
</header>
  <div class="pull-right">
    <%= link_to 'Add Friend to Group', new_group_friend_path(params[:id]), class:"btn btn-primary" %>
    <%= link_to 'All Groups', groups_path, class:"btn btn-default"%>

  </div>
<h4>Friends</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Spouse</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.spouse %></td>
      <td><%= friend.email %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Edit', edit_group_friend_path(friend.group_id, friend), class:"btn btn-info" %>
          <%= link_to 'Remove', group_friend_path(params[:id], friend), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <% if @friends.count <= 2 %>
    <%= link_to "Need #{3 - @friends.count} more friends to generate.","", class:"btn active-link" %>
  <% elsif %>
    <%= link_to 'Generate Picks and Email Group', mail_draws_path(params[:id]), class:"btn btn-warning", data:{confirm: "Confirm that you want to Draw and EMAIL all friends in this group.\nNote: Each time the button is pressed a new random draw is generated, and new emails are sent!"} %>
  <% end %>
</div>
