<p id="notice"><%= notice %></p>
<header class="page-header">
  <h1><%= @group.name %></h1>
</header>
  <div class="pull-right">
    <%= link_to 'Add Friend to Group', new_friend_path(), class:"btn btn-primary" %>
    <%= link_to 'All Groups', groups_path, class:"btn btn-default"%>
  </div>
<h4>Friends</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Spouse</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.spouse %></td>
      <td><%= friend.email %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-info" %>
          <%= link_to 'Destroy', friend, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td
    </tr>
    <% end %>
  </tbody>
</table>
